.border {
    list-style: none;
    width: 800px;
    margin: auto;
    padding: 0;
    border:none !important;
}
    .border li {
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
    -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
    }

    .red-border{
        border-left: 10px solid red; 
    }

    .orange-border{
        border-left: 10px solid #f05d22; 
    }

    .yellow-border{
        border-left: 10px solid yellow; 
    }

    .green-border{
        border-left: 10px solid rgb(10, 231, 95); 
    }
    .go-back{
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        background-color: #f1f1f1;
        color: black;
        transition: all 0.5s ease;
        margin-bottom: 20px;
        margin-left: 10%;
    }
    
    .go-back:hover {
        background-color: #000;
        background: darkorange;
        transition: all 0.5s ease;
    }